<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style type="text/css">
        /* CLIENT-SPECIFIC STYLES */
        body, table, td, a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }
        /* RESET STYLES */
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table {
            border-collapse: collapse !important;
            table-layout: fixed;
        }

        body {
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h1 {
            padding: 0;
            margin: 0;
        }

        h2 {
            color: #3C7EC1;
            font-size: 28px;
            line-height: 32px;
            padding: 22px 0px;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 1px white;
        }
        .btn {
            border-radius: 4px;
            margin: 0;
            text-align: center;
            display: block;
            padding: 12px;
            background: #0072bc;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'open_sansbold';
            font-size: 12px;
        }
        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
        /* MOBILE STYLES */
        @@media screen and (max-width:600px) {
            h2 {
                font-size: 24px !important;
                line-height: 24px !important;
            }
        }
        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] {
            margin: 0 !important;
        }
    </style>
</head>
<body style="margin: 0 !important; padding: 0 !important; text-align: center;">
    <table width="520px" style="background-color: white; margin: 20px auto !important; padding: 0 !important; border: 1px solid #111111; border-radius: 10px">
        <tr>
            <td align="center" valign="top" style="background-color: #E9E9E9; margin: 0 !important; padding: 10px !important; border-bottom: thick #357BC2 solid !important;">
                <h1><a href="@Model.AppUrl" target="_blank" style="color: black; font-size:18pt; text-decoration: none; font-weight: 200; text-align: center; margin: 0; padding: 0;">Soboty s technikou</a></h1>
            </td>
        </tr>
        <tr style="margin: 0 !important; padding: 0 !important;">
            <td align="center" valign="top" style="background-color: #E9E9E9; margin: 0 !important; padding: 10px !important; border-bottom: 1px #555555 solid !important;">
                <h2>@ViewData["Title"]</h2>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="background-color: #ffffff; color: #111111; margin: 0 !important; padding: 10px !important;">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td style="background-color: #E9E9E9; margin: 0 !important; padding: 10px !important; border-top: 1px #555555 solid !important;">
                <a href="https://www.pslib.cz" target="_blank" style="color: #111111; font-weight: 400; margin-right: 10px !important;">pslib.cz</a>
                <a href="@Model.AppUrl" target="_blank" style="color: #111111; font-weight: 400; margin-right: 10px !important;">Sobota s technikou</a>
            </td>
        </tr>
        <tr>
            <td style="background-color: #E9E9E9; margin: 0 !important; padding: 10px !important;">
                Střední průmyslová škola strojní a elektrotechnická a Vyšší odborná škola
            </td>
        </tr>
    </table>                  
</body>
</html>